body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.cantainer{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0,168,255);
  background: linear-gradient(90deg, rgba(0,168,255,1) 0%, rgba(15,39,187,1) 46%, rgba(32,4,108,1) 100%);
}